<footer class="footer">
	<small>
	check out my <a href="https://github.com/kjsuarez/protoApp">gitHub</a> for information
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
	      	<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>